In [1]:
from sudoku import Sudoku
import pandas as pd

In [2]:
#get main cnf file
path = 'sudoku9.cnf'
cnf =""
f = open(path, 'r')
for line in f:
    cnf+= line
f.close()

In [3]:
# Global Constants
MIN_VARS = 1
MAX_VARS = 25
INSTANCES_PER_VAR = 100
SUDOKU_DEGREE = 9

In [4]:
frames = [] # will store dataframes for each variable

In [5]:
frames = []
for var in range(MIN_VARS, MAX_VARS):
    boards = []
    frame = pd.DataFrame(columns=['board', 'solution'])
    for y in range(INSTANCES_PER_VAR):
        board = Sudoku(SUDOKU_DEGREE)
        board.randomize_board(var)
        boards.append(board)
    cnfs = [board.cnf_output() for board in boards]
    frame['board'] = boards
    frame['cnf'] = cnfs
    frame['num_vars'] = var
    frames.append(frame)
frames = pd.DataFrame(pd.concat(frames))
frames.head(5)

                                   board solution      cnf  num_vars
0  <sudoku.Sudoku object at 0x112d2e748>      NaN  085 0\n         1
1  <sudoku.Sudoku object at 0x114ddc4a8>      NaN  803 0\n         1
2  <sudoku.Sudoku object at 0x114ddc4e0>      NaN  747 0\n         1
3  <sudoku.Sudoku object at 0x114ddc518>      NaN  617 0\n         1
4  <sudoku.Sudoku object at 0x114ddc550>      NaN  738 0\n         1

In [17]:
def get_solution_from_cnf(cnf_string):
    #do something here
    cnf_string = cnf + cnf_string #append the whole cnf
    return cnf_string[:3]+"solution"

In [18]:
frames['solution'] = frames['cnf'].apply(get_solution_from_cnf)

In [19]:
frames.head(5)

                                   board     solution      cnf  num_vars
0  <sudoku.Sudoku object at 0x112d2e748>  111solution  085 0\n         1
1  <sudoku.Sudoku object at 0x114ddc4a8>  111solution  803 0\n         1
2  <sudoku.Sudoku object at 0x114ddc4e0>  111solution  747 0\n         1
3  <sudoku.Sudoku object at 0x114ddc518>  111solution  617 0\n         1
4  <sudoku.Sudoku object at 0x114ddc550>  111solution  738 0\n         1